{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container">
    <form class="h-100" action="" method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Nom d'utilisateur</label>
            <input type="text" class="form-control" name="name" id="name"
                   aria-describedby="name">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Adresse
                email</label>
            <input type="email" class="form-control" name="email" id="email"
                   aria-describedby="email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Mot de passe
            </label>
            <input type="password" class="form-control" name="password"
                   id="password">
        </div>
        <button type="submit" class="btn btn-primary">S'inscrire</button>
    </form>
    </div>
{% endblock %}
