
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ email.subject }}</title>
</head>
<h1 style="font-size: 1.5em;" >Bonjour {{ userName }}</h1>

<p>Pour réinitialiser votre mot de passe, veuillez
    <a href="{{ url('app_password_reset_page', {token: token, userEmail: userEmail}) }}">cliquer sur ce lien</a></p>

<p>L'équipe Snowtricks</p>
</html>

